.App {
  text-align: center;
}


body {
   margin: 10 0 0 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
     "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
     sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
     monospace;
 }




 /* calendar  */

.select {
   margin-right: 70px;
}

.div-inline {
   display:inline-block;
   padding: 10px;
}

.header-date {
   color: red;
}

p {
   border: 1px solid gray;
   padding: 5px;
}

.bold {
   font-weight: bold;
}

.status-selected {
   background: orange;
   cursor: pointer;
}

.selected-item {
   background: red;
}

.hide {
   display: none;
}

#btn-left {
   color: red;
}

#btn-right {
   color: red;
}
